@{
    var myId = "X";
    myId=Request["idCer"]; 
    string sqlCer = "SELECT nreq FROM tareas_req WHERE nreq = '" + myId + "'";
    string sqlCat = "SELECT * FROM usuarios ORDER BY nombre";

    string sql = "";
    bool sw = false;
    string fr_solucion = Request["solucion"];
    string myFecha = DateTime.Now.ToString("MM/dd/yyyy");
   
     var conexionDB = Database.Open("reque_cam");
     var datosCombo = conexionDB.Query (sqlCat);

     sql = "SELECT usuarios.documento, usuarios.nombre AS ASIGNADO, tareas_req.nreq AS NR, tareas_req.descripcion AS DESCRIPCION, tareas_req.prioridad AS PRIORIDAD, ";
     sql += "tareas_req.solicitante AS SOLICITANTE, tareas_req.solucion AS SOLUCION, tareas_req.fechaf AS FECHACIERRE, tareas_req.tiemporeq AS TIEMPO, ";
     sql += "categorias.ds_categoria AS CATEGORIA, tareas_req.fechai AS FECHAINGRESO, tareas_req.estado AS ESTADO, notas.ds_nota AS NOTAS ";
     sql += "FROM tareas_req LEFT OUTER JOIN ";
     sql += "usuarios ON tareas_req.us_asignado = usuarios.documento INNER JOIN ";
     sql += "categorias ON tareas_req.idcategoria = categorias.idcategoria LEFT OUTER JOIN ";
     sql += "notas ON tareas_req.idnota = notas.idnota ";
     sql += "WHERE (tareas_req.estado = 'P')";
     var datosTabla = conexionDB.Query (sql);
     var datosCer = conexionDB.Query (sqlCer);
     
     var sqlAsignar = "UPDATE tareas_req SET tiemporeq = DATEDIFF(day, fechai, '" + myFecha + "'), estado = 'F', fechaf = '" + myFecha + "', solucion = '" + fr_solucion + "' WHERE nreq = '" + myId + "'";

    if(IsPost)
    {
        var datos = conexionDB.Query (sqlAsignar);
        sw = true;
    }

    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/miEstilo.css">
	    <link href='http://fonts.googleapis.com/css?family=Denk+One' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="lib/jquery.dataTables/css/DT_bootstrap.css"/>
        <link rel="stylesheet" href="css/datatables.responsive.css"/>

	    <script src="js/jquery.js"></script>
	    <script src="js/codigo.js"></script>
    </head>
    <body>
        <ul id="menu">
		    <li id="espacio">...</li>
		    <li id="op8"><a href="ppal-bd.cshtml" ><img src="img/requerimientos.png" alt="Requerimientos"><div class="olo" >Requerimientos</div></a></li>
		    <li id="op9"><a href="exportar.cshtml" ><img src="img/exportar.png" alt="..."><div class="olo">Exportar</div></a></li>
            <li id="espacio">...</li>
		
            <li id="op11"><a href="insertar.cshtml" ><img src="img/nuevo.png" alt="..."><div class="olo">Nuevo</div></a></li>
            <li id="op10"><a href="asignar.cshtml" ><img src="img/asignar.png" alt="..."><div class="olo">Asignar</div></a></li>
            <li id="op7"><a href="reasignar.cshtml" ><img src="img/reasignar.png" alt="..."><div class="olo">Re Asignar</div></a></li>
		    <li id="op12"><a href="actualizar.cshtml" ><img src="img/actualizar.png" alt="..."><div class="olo">Actualizar</div></a></li>
		    <li id="op6"><a href="cerrar.cshtml" ><img src="img/cerrar.png" alt="..."><div class="olo">Cerrar</div></a></li>
	    </ul>

    <div id="titMenu">
	    <div id="botonMenu">
	    </div>
        Solución
    </div>

    <section id="formulario" >

       
            <table border="1">
                    <thead>
                        <tr>
                            <th>Nro Req</th>
                            <th>Fecha ingreso</th>
                            <th>Categoria</th>
                            <th>Descripción</th>
                            <th>Solicitante</th>
                            <th>Asignado</th>
                            <th>Estado</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var fila in datosTabla){
                        <tr>
                            <td style="text-align: center">@fila.NR</td>
                            <td style="text-align: left">@Convert.ToDateTime(fila.FECHAINGRESO).ToShortDateString()</td>
                            <td style="text-align: left">@fila.CATEGORIA</td>
                            <td style="text-align: left">@fila.DESCRIPCION</td>
                            <td style="text-align: left">@fila.SOLICITANTE</td>
                            <td style="text-align: left">@fila.ASIGNADO</td>
                            <td style="text-align: center">@fila.ESTADO</td>
                            <td style="text-align: center"><a href="cerrar.cshtml?idCer=@fila.NR">Seleccionar</a></td>
                        </tr>
                        }
                        <tr>
                            <td colspan="8">...</td>
                        </tr>
                    </tbody>
                </table>


        <form method="post" action="" id="registro">
            @foreach(var filaCer in datosCer)
            {
            <div>
                <label>Nro Requerimiento</label>
                <input type="text" name="txtNroReq" value="@filaCer.nreq" disabled><br/>
                <label>Solución</label><br/>
                <textarea name="solucion" cols="35" rows="6"></textarea><br/>
                <div id="btnReg">
                    <input type="submit" value="Cerrar" name="btnCerrar">
                </div>          
            </div>
            }
        </form>

        <div>
            @if(IsPost)
            {
                if(sw)
                {
                    Response.Redirect("cerrar.cshtml");
                }
            }
        </div>
    </section>
    </body>
</html>