@{
    string sqlUs = "SELECT documento, nombre FROM usuarios ORDER BY documento";
    
    string sql = "";
    int nSw = 0;
    string fr_Usuario = Request["cbUsuario"];
    string fr_Estado = Request["cbEstado"];
    string fr_fecha1 = Request["fechai"];
    string fr_fecha2 = Request["fechaf"];
    string fr_nreq = Request["txtNroReq"];
    string fr_todos = Request["chTodos"];

    //string myFecha1 = Convert.ToDateTime(fr_fecha1).ToString("yyyy-MM-dd");
    //string myFecha2 = Convert.ToDateTime(fr_fecha2).ToString("yyyy-MM-dd");
    
     var conexionDB = Database.Open("reque_cam");
     var datosCombo = conexionDB.Query (sqlUs);

     //sql = "SELECT nreq as NR, descripcion as DESCRIPCION, prioridad as PRIORIDAD, solicitante as SOLICITANTE, asignado AS ASIGNADO, solucion as SOLUCION, fechai as FECHAINGRESO, fechaf as FECHACIERRE, idnota as NOTAS, tiemporeq as TIEMPO, idcategoria as CATEGORIA, estado as ESTADO FROM tareas_req ";
     sql = "SELECT usuarios.documento, usuarios.nombre AS ASIGNADO, tareas_req.nreq AS NR, tareas_req.descripcion AS DESCRIPCION, tareas_req.prioridad AS PRIORIDAD, ";
     sql += "tareas_req.solicitante AS SOLICITANTE, tareas_req.solucion AS SOLUCION, tareas_req.fechaf AS FECHACIERRE, tareas_req.tiemporeq AS TIEMPO, ";
     sql += "categorias.ds_categoria AS CATEGORIA, tareas_req.fechai AS FECHAINGRESO, tareas_req.estado AS ESTADO, notas.ds_nota AS NOTAS ";
     sql += "FROM tareas_req LEFT OUTER JOIN ";
     sql += "usuarios ON tareas_req.us_asignado = usuarios.documento INNER JOIN ";
     sql += "categorias ON tareas_req.idcategoria = categorias.idcategoria LEFT OUTER JOIN ";
     sql += "notas ON tareas_req.idnota = notas.idnota ";

    if(IsPost)
    {
        if(fr_todos != null)
        {
            //todos los registros
            nSw = 1;
        }

        if(fr_Usuario != "0")
        {
            // por usuario
            nSw = 2;
        }

        if(fr_Estado != "0")
        {
            //por estado
            nSw = 3;
        }

        if(fr_fecha1 != "" && fr_fecha2 != "")
        {
            //por fecha
            nSw = 4;
        }

        if(fr_nreq != "")
        {
            //por numero de requerimiento
            nSw = 5;
        }                 
    }

    switch (nSw)
    {
        case 0:
            sql += "ORDER BY tareas_req.fechai";
        break;
        case 1:
            sql += "ORDER BY tareas_req.fechai";
        break;
        case 2:
            sql += " WHERE usuarios.documento = '" + fr_Usuario + "' ORDER BY tareas_req.fechai";
        break;
        case 3:
            sql += " WHERE tareas_req.estado = '" + fr_Estado + "' ORDER BY tareas_req.fechai";
        break;
        case 4:
            sql += "WHERE tareas_req.fechai BETWEEN '" + fr_fecha1 + "' AND '" + fr_fecha2 + "' ORDER BY tareas_req.fechai";
        break;
        case 5:
            sql += "WHERE tareas_req.nreq = '" + fr_nreq + "' ORDER BY tareas_req.fechai";
        break;
    }
    
    var datos = conexionDB.Query (sql);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/miEstilo.css">
	    <link href='http://fonts.googleapis.com/css?family=Denk+One' rel='stylesheet' type='text/css'>
	    <script src="js/jquery.js"></script>
	    <script src="js/codigo.js"></script>
        <!--Para la tabla-->
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="lib/jquery.dataTables/css/DT_bootstrap.css"/>
        <link rel="stylesheet" href="css/datatables.responsive.css"/>
        <script type="text/javascript" src="lib/lodash/lodash.min.js"></script>
        <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="lib/jquery.dataTables/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="lib/jquery.dataTables/js/DT_bootstrap.js"></script>
        <script type="text/javascript" src="js/datatables.responsive.js"></script>
        <script type="text/javascript" src="js/dom-bootstrap.js"></script>
        <!--Fin de add para tabla-->
    </head>
    <body>
        <div id="titMenu">
	        <div id="botonMenu">
	        </div>
            EXPORTAR
        </div>

        <ul id="menu">
		    <li id="op8"><a href="ppal-bd.cshtml" ><img src="img/requerimientos.png" alt="Requerimientos"><div class="olo" >Requerimientos</div></a></li>
		    <li id="op9"><a href="exportar.cshtml" ><img src="img/exportar.png" alt="..."><div class="olo">Exportar</div></a></li>
		
            <li id="op11"><a href="insertar.cshtml" ><img src="img/nuevo.png" alt="..."><div class="olo">Nuevo</div></a></li>
            <li id="op10"><a href="asignar.cshtml" ><img src="img/asignar.png" alt="..."><div class="olo">Asignar</div></a></li>
            <li id="op7"><a href="reasignar.cshtml" ><img src="img/reasignar.png" alt="..."><div class="olo">Re Asignar</div></a></li>
		    <li id="op12"><a href="actualizar.cshtml" ><img src="img/actualizar.png" alt="..."><div class="olo">Actualizar</div></a></li>
		    <li id="op6"><a href="cerrar.cshtml" ><img src="img/cerrar.png" alt="..."><div class="olo">Cerrar</div></a></li>
	    </ul>

    <section id="formulario">
        <form method="post" action="">
        <table border="0">
            <tr>
                <td>
                    <label>Usuario:</label>
                    <select size="1" name="cbUsuario" id="cbUsuario">
                        @foreach(var row in datosCombo){
                            <option value="@row.documento">@row.nombre</option>
                        }
                    </select>
                </td>
                <td>
                    <label>Estado:</label>
                    <select size="1" name="cbEstado" id="cbEstado">
                        <option value="0">Seleccione una Opción</option>
                        <option value="P">Pendiente</option>
                        <option value="F">Finalizado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Fecha:</label>
                    <input type="date" id="fechai" name="fechai">
                </td>
                <td>
                    <label>Fecha:</label>
                    <input type="date" id="fechaf" name="fechaf">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Numero de Requerimiento:</label>
                    <input type="text" id="txtNroReq" name="txtNroReq">
                </td>
                <td>
                    <label>Todos los registros</label>
                    <input type="checkbox" id="chTodos" name="chTodos">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" id="btnConsultar" value="Consultar">
                </td>
            </tr>
        </table>
        </form>

        @if(IsPost)
        {
            <div id="botonExportar">
                <img src="img/exp-excel.png" alt="Exportar a Excel" id="exp-excel" >
            </div>
            <table border="1">
                <thead>
                    <tr>
                        <th>Nro Req</th>
                        <th>Fecha ingreso</th>
                        <th>Categoria</th>
                        <th>Descripción</th>
                        <th>Solicitante</th>
                        <th>Asignado</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var fila in datos){
                    <tr>
                        <td style="text-align: center">@fila.NR</td>
                        <td style="text-align: left">@Convert.ToDateTime(fila.FECHAINGRESO).ToShortDateString()</td>
                        <td style="text-align: left">@fila.CATEGORIA</td>
                        <td style="text-align: left">@fila.DESCRIPCION</td>
                        <td style="text-align: left">@fila.SOLICITANTE</td>
                        <td style="text-align: left">@fila.ASIGNADO</td>
                        <td style="text-align: center">@fila.ESTADO</td>
                    </tr>
                    }
                    <tr>
                        <td colspan="7">...</td>
                    </tr>
                </tbody>
            </table>
            
            Session["query"] = sql;
        }
        
    </section>
    </body>
</html>